{% extends 'layout.njk' %}

{% block header %}
  <title>Sobre - Rocketseat</title>
{% endblock header %}

{% block content %}

  <div class="content-about">
    <div class="logo"><img src="rocketseat.jpg" alt="logo"></div>
    <h1>Rocketseat</h1>
    <h2>A empresa que decola os programadores!</h2>
    <ul>
      <li>JavaScript</li>
      <li>NodeJS</li>
      <li>React</li>
      <li>React Native</li>
    </ul>
    <div class="footer">
      <a href="https://www.facebook.com/rocketseat" target="_blank">Facebook</a>
      <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
      <a href="https://github.com/rocketseat" target="_blank">Github</a>
    </div>
  </div>

{% endblock content %}