{% extends 'layout.njk' %}

{% block header %}
  <title>Cursos - Rocketseat</title>
{% endblock header %}

{% block content %}
  
  <div class="content-about">
    <h1>Conteúdos</h1>
  </div>

  <div class="cards">

    {% for course in courses %}
      
      <div class="card" id="{{course.id}}">
        <img src="{{course.id}}.svg" alt="{{course.id}}">

        <div class="info">
          <p>{{course.modules}}</p>
          <p class="price">{{course.price}}</p>
        </div>
      </div>

    {% endfor %}
    
  </div>

  <div class="modal">
    <a class="close">X</a>

    <div class="modal-content">
      <iframe src="" frameborder="0"></iframe>
    </div>
  </div>

  <script src="script.js"></script>

{% endblock content %}